@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
:root{
  --bgColor: #263343;
  --navTopBgColor: #f5f5f5;
  --navTopFontColor: #757575;
  --navMiddleHoverColor: #9e9e9e;
  }
*{
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.navbar{
  display: block;
}
/* goorm IDE 참고함 */
.navbar .top{
  padding: 10px 50px;
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid #eeeeee;
  background-color: var(--navTopBgColor);
}
.login{
  padding: 4px 6px;
  margin-right: 12px;
  color: var(--navTopFontColor);
}
.language{
  cursor: pointer;
  color: var(--navTopFontColor);
  border: 0;
  border-bottom: 1px solid var(--navTopFontColor);
  background-color: var(--navTopBgColor);
}
.language::after{
  text-decoration: none;
}
.language option{
  
}
.middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-bottom: 1px solid #eeeeee;
}
.middle .corp_logo img{
  height: 50px;
}
.navbar-menu{
  display: flex;
}
.navbar-menu li{
  padding: 8px 12px;
}
.navbar-menu li a{
  color: var(--navTopFontColor);
}
.navbar-menu li a:hover{
  color: var(--navMiddleHoverColor);
}
.company_main{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.company_main h2{
  padding: 50px 0;
}
.company_philosophy{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: gainsboro;
  color: #484848;
}
.company_philosophy h2{
  padding: 30px 0;
}
.business_SI{
  padding: 80px;
  text-align: center;
  line-height: 30px;
}
.technology{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
}
.technology > div{
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #9e9e9e;
}
.technology > div .header{
  width: 100%;
  border-bottom: 1px solid #9e9e9e;
}
.technology > div .header a{
  color: #b39ddb;
}
.technology > div .header a i{
  padding: 20px 0;
}
.technology > div .header h2{
  padding: 20px 0;
}
.technology > div .explanation{
  width: 100%;
  padding-top: 15px;
  text-align: left;
}
.business_consulting{
  padding: 80px;
  line-height: 30px;
}
.business_consulting .comment{
  text-align: center;
}
.business_consulting .consulting_service{
  text-align: center;
  margin-top: 50px;
}
.business_outsourcing{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  background-color: #8aacc8;
}
.business_outsourcing .comment{
  margin-bottom: 30px;
}
.business_outsourcing .button_event,
.business_outsourcing .button_event > ul{
  width: 100%;
}
.business_outsourcing .button_event > ul{
  display: flex;
  justify-content:space-between;
  height: 300px;
}
.business_outsourcing .button_event > ul > li{
  padding: 20px 0;
  font-size: 30px;
  display: flex;
}
.business_outsourcing .button_event > ul > li > a{
  padding: 20px 20px;
}
.business_outsourcing .button_event > ul > li a .fa-circle,
.business_outsourcing .button_event > ul > li a .fa-inverse,
.business_outsourcing .button_event > ul > li a .fa-circle-notch{
  color: #FFFFFF;
}
.business_outsourcing .button_event > ul > li:nth-child(1),
.business_outsourcing .button_event > ul > li:nth-child(5){
  flex-direction: column;
  justify-content:flex-end;
}
.business_outsourcing .button_event > ul > li:nth-child(2),
.business_outsourcing .button_event > ul > li:nth-child(4){
  align-items: center;
}
.business_outsourcing .button_event > ul > .selected-item{
  display: none;
  opacity: 0;
  font-size: 0px;
}
.business_outsourcing .button_event > ul > .selected-item,
.business_outsourcing .button_event > ul fa-circle-notch{
  transition: all ease 0.5s;
}
.business_outsourcing .button_event > ul > .selected-item.appear{
  display: block;
  animation: font-size-up 1s ease,
              fade-in 0.5s ease 0.7s; 
  animation-fill-mode: forwards;
}
.business_outsourcing .button_event > ul > .selected-item.disappear{
  animation: fade-out 1s ease,
              font-size-down 1s ease 1s;
  animation-fill-mode: forwards;
}
.rotate{
  animation-iteration-count: 1;
  animation: rotate 1.4s ease 0.7s; 
}
@keyframes font-size-up{
  100%{
    font-size: 30px;
  }
}
@keyframes font-size-down{
  100%{
    font-size: 0px;
  }
}
@keyframes fade-in{
  100%{
    opacity: 1;
  }
}
@keyframes fade-out{
  100%{
    opacity: 0;
  }
}
@keyframes rotate{
  0%{
    transform: rotate(360deg);
  }
}
.business_outsourcing .button_event > ul > .item3{
  align-items: center;
}
.business_outsourcing .button_event > ul > .item4{
  flex-direction: column;
  justify-content:flex-end;
}
.container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}